@import url(/global.css);

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 3rem;
    width: 50vw;
    background-color: #fff;
}

#form-header{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

h1{
    font-size: 2rem;
}

#login-button{
    display: flex;
    align-items: center;
}

#login-button button{
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: #6c63ff;
}

#login-button button:hover{
    background-color: #6b63fff1;
}

#login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

#form-header h1::after{
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    content: '';
    background-color: #6c63ff;
    border-radius: 10px;
}
